{% extends "base.html" %}
{% comment %}
Copyright 2024  Francais pour une Meilleure Mobilité

Author(s): Jeff Abrahamson <jeff@p27.eu>.

This file is part of the mobilito web application.

Mobilito is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Mobilito is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public
License along with mobilito.  If not, see
<http://www.gnu.org/licenses/>.
{% endcomment %}
{% load i18n %}

{% block title %}{% trans "This link no longer works" %} · Mobilito{% endblock %}

{% block content %}
<div class="mx-auto text-center" style="max-width: 32rem;">
  <h1 class="h3 mb-3">{% trans "This link no longer works" %}</h1>
  <p>
    {% blocktranslate trimmed %}
      Sign-in links work only once, and only for a short time. Ask for
      a new one and we'll send it straight away.
    {% endblocktranslate %}
  </p>
  <a href="{% url 'auth_start' %}{% if next %}?next={{ next|urlencode }}{% endif %}" class="btn btn-primary btn-lg">
    {% trans "Send me a new link" %}
  </a>
</div>
{% endblock %}
