{% comment %}
Copyright 2024  Francais pour une Meilleure Mobilité

Author(s): Jeff Abrahamson <jeff@p27.eu>.

This file is part of the mobilito web application.

Mobilito is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Mobilito is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public
License along with mobilito.  If not, see
<http://www.gnu.org/licenses/>.
{% endcomment %}
{% load i18n %}
{% if show %}
  <div class="alert alert-info d-flex flex-wrap align-items-center gap-2" role="status">
    <div class="flex-grow-1">
      {% blocktranslate trimmed %}
        Please confirm your email address using the link we sent to
        <strong>{{ email }}</strong>. Until then, your observations are
        visible only to you.
      {% endblocktranslate %}
    </div>
    <form method="post" action="{% url 'auth_start' %}" class="m-0">
      {% csrf_token %}
      <input type="hidden" name="email" value="{{ email }}">
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn btn-outline-primary">
        {% trans "Send the link again" %}
      </button>
    </form>
  </div>
{% endif %}
